<footer class="text-center mar-tb-6">
    © <%- (new Date()).getFullYear() %> <%- siteConfig.owner.name %>, unless otherwise stated.
</footer>

<script>hljs.highlightAll();</script>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

</body>
</html>
